@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --blue: #34B0BE;
    --gray: #D1CECA;
    --darkblue: #242635;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--darkblue);
    padding-bottom: 10rem 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content{
    color: white;
}

.navbar{
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.navbar-menu path{
    stroke: white
    
}

.header-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1.5rem;
    position: relative;
    max-width: 600px;
}

.circle{
    display: flex;
    justify-content: center;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: rgb(62, 61, 61);
}

.profile-photo{
    height: 105%;
    width: 100%;
    
}

.header-information h1 > span{
    color: var(--blue);
    font-size: 50px;
}

.header-information h3 > span{
    color: var(--blue);
}

.social-container{
    width: 75%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    max-width: 400px;
    padding: 1.5rem 0;
}

.social-circle{
    background-color: var(--gray);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-container{
    background-color: rgb(62, 61, 61);
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.work-square{
    background-color: var(--gray);
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-icon{
    width: 4rem;
    height: 3rem;
}

.information-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2
    rem;
}

.about-me{
    font-size: 18px;
    color: var(--blue);
}

.text-about{
    color: var(--gray);
    font-size: 16px;
    width: 100%;
    max-width: 600px;
}

.text-about > p{
    padding: 1rem;
}

.services-title{
    text-align: center;
    display: inline;
    font-size: 18px;
    color: var(--blue);
}

.services-container{
    width: 100%;
    display: inline-flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    padding: 1rem 2rem 0rem 4rem;
    border-radius: 1rem;
    /* overflow: hidden; */
}
.services-scroll{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 400%;
    padding: 1rem 3rem;
    border-radius: 1rem;
    overflow: scroll;
}

.services-img{
    flex-direction: column;
    background-color: var(--white);
    color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}  

.imagen{
    width: 5rem;
    height: 5rem;
}

.services-container h4{
    font-size: 15px;
    color: black;
}

.services-text{
    font-size: 10px;
    text-align: center;
    color: var(--gray);
}

.hability-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    max-width: 992px;
}

.hability-tittle{
    font-size: 18px;
    color: var(--blue);
}

.container-progress{
    text-align: start;
}

.container-progress h5{
    text-align: initial;
    color: var(--white);
    text-align: start
}

.progress-bar{
    text-align: end;
    color: var(--white);
    border-radius: 1rem;
    background-color: var(--blue);
}

.carousel-slide{
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}

.portafolio-tittle{
    text-align: center;
    display: inline;
    font-size: 18px;
    color: var(--blue);
    /* overflow: visible; */
}

.img-container{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: 1rem;
    padding-left: 10rem;
}

.portafolio-img{
    width: 15rem;
    height: 15rem;    
}

.contact-container{
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.contact-container h2{
    font-size: 18px bold;
    color: var(--blue);   
}

.cel-box{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 12rem;
    width: 12rem;
    justify-content: c;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email-box{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 12rem;
    width: 12rem;
    justify-content: c;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-container h4{
    font-size: 18px;
    color: black;
}

.text-email{
    font-size: 12px;
}

.footer-box{
    display: flex;
    color: var(--blue);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
}

.menu-container{
    background-color: rgba(109, 109, 109, 0.737);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition: left .5s linear;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
}

.menu-container.hide{
    left: -100%;
}

.menu{
    background-color: var(--container-color);
    width: 100%;
    height: 100%;
    max-width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -4px 5px 10px rgb(147 147 147);
    padding: 2.5rem 1.5rem 1rem 1.5rem ;
}

.menu-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.menu-elements{
    color: var(--darkblue);
    text-decoration: none;
}

@media screen and ( min-width: 601px){   
    body{
        position: relative;
    }
    .header-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 1rem 1.5rem;
        position: relative;

    }

    .circle{
        position: absolute;
        left: 250px;
        width: 60%;
        height: 60%;
        top: 39px;
    }

    .header-text{
        text-align: left;
        width: 50%;
        height: 50%;
        position: relative;
        right: 100px;
        top: 10x;
    }

    .header-text > h1{
        font-size: 20px;
    }

    .header-text > h1 > span{
        font-size: 20px;
    }

    .header-text > h2 {
        font-size: 20px;
    }

    .header-text > h3{
        font-size: 20px;
    }


    .social-container{
        position: relative;
        left: -130px;
        width: 50%;
    }

    .work-container{
        position: relative;
        display: flex;
        width: 80vh;
        justify-content: space-evenly;
    }

    .services-container {
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 1rem;
    }
    .services-scroll{
        gap: 2rem;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem;
        border-radius: 1rem;
        overflow: inherit
    }

    .contact-container{
        display: flex;
        
    }
    .contact-container > h2{
        display: block;
        flex-direction: row;
    }

    
  
}

/* display: inline-flex;
text-align: center;
justify-content: center;  
width: 100%;
height: 100vh;
overflow: hidden;

display: inline-flex;
justify-content: center;
flex-direction: row;
flex-wrap: nowrap;


/* Para scroll 
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    max-width: 400%;
    padding: 1rem 3rem;
    border-radius: 1rem;
    overflow: scroll;
}*/

/* service - container para desktop
background-color: var(--darkblue);
color: white;
justify-content: center;
align-content: center;
text-align: center;
padding: 1rem;
display: flex; */